.subredditsContainer {
    background-color: #fff;
    border-radius:0.3125rem;
    box-shadow: 0.375rem 0.375rem 0.25rem rgb( 0 0 0 / 35%);
    font-family: 'Roboto';
    margin-top: 1rem;
    padding-right: 1rem;
}

.sidebarNavItems{
    margin-left: 1rem;    
}

.header {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.subredditContainer{
    display: flex;
    margin-bottom: 1.5rem; 
      
    }

.subredditContainer:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0rem;
}

.icons {
    height: 3rem;
    width: 3rem;
    list-style-type: none;
  }

button {
    border: none;
    outline: none;
    background-color: #fff;
}

button:hover {
    cursor: pointer;
}

.title {
    margin-left: 1rem;
}